<div class="footer">
  <%= image_tag "home.png", size: '50x50' %>
  <%= image_tag "search.png", size: '50x50' %>
  <%= image_tag "write.png", size: '50x50' %>
  <%= image_tag "list.png", size: '46x46' %>
  <%= image_tag "like.png", size: '50x50' %>
</div>
