<div class="footer">
  <%= link_to root_path do %>
    <%= image_tag "home.png", size: '50x50' %>
  <% end %>
  <%= link_to search_path do %>
    <%= image_tag "search.png", size: '50x50' %>
  <% end %>
  <%= link_to new_post_path do %>
    <%= image_tag "write.png", size: '50x50' %>
  <% end %>
  <%= link_to list_path do %>
    <%= image_tag "list.png", size: '46x46' %>
  <% end %>
  <%= link_to like_path do %>
    <%= image_tag "like.png", size: '50x50' %>
  <% end %>
</div>
